*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#div-container{ 
   
    height: 120vh;
    display: grid;
    grid-template-rows: 110px 1fr 110px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.div-info{
    display: flex;
    gap: 20px;
}

/* HEADER */
body{
 
    background-color: antiquewhite;
}
header{
    grid-area: 1/1/2/5;
}
.boton-redondo {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Hace que el botón sea redondo */
    border: none;
    background-color: rgb(238, 231, 231); /* Color inicial */
    font-size: 25px;
  }
.title a{
    text-decoration: none;
    color: white;
}
.recipe{
    margin-top: 15px;
}
.recipe a{
    text-decoration: none;
    color: rgb(228, 221, 221);
}
/* header */
/* MAIN */
/* main */
/* NAV */
/* nav */
/* FOOTER */
footer{
    grid-area: 4/5/4/1;
}
.div-data{
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    background-color: #255538;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.titleb{
    color:white;
} 
footer .div-data h3 {
    color: white;
    padding-top: 10px;
  }
/* footer*/
